*{
	margin:0 0;
	padding:0 0;
}

.navbar .container{
	width:1366px;
	height:80px;
	background-color:#dadada;
	border-bottom:solid 2px #c00000;
}

#srjna{
	height:120px;
}

#srjna h1{
	font-size:40px;
	text-align:center;
}

#srjna a{
	color:#c00000;
}

@keyframes title{
	from{color:#c00000;}
	to{color:red;}
}

#srjna a:hover{
	color:red;
	animation-name:title;
	animation-duration:1s;
}

.menu{
	height:120px;
}

.menu a{
	color:#737373;
}

.menu a.active{
	text-decoration:none;
}

.menu li.active a{
	color:#c00000;
}

.navbar a:hover{
	text-decoration:none;
	color:red;
}

.navbar ul li{
	float:left;
	list-style:none;
	margin-right:40px;
	font-size:25px;
	margin:20px 22px;
}

.section{
	height:620px;
}

#jumbotron{
	height:670px;
}

#jumbotron img{
	margin:auto;
	display:block;
	margin-bottom:90px;
}
.jumbo-inner{
	padding-top:100px;
}

.moto{
	margin:40px 300px;
	display:block;
	text-align:center;
}

.heading{
	margin:0 0;
	display:block;
	padding-top:50px;
	text-align:center;
}

#scenario{
	background-color:#92dce0;
}

#scenario h2{
	padding-top:20px;
	animation-name:text-change;
	animation-duration:3s;
	animation-iteration-count: infinite;
	animation-delay: 3s;
}

@keyframes brain-fill{
	0%{height:40px;background-color:red;border-radius:20px;border-top-left-radius:0px;border-top-right-radius:0px;margin-top:-147px;}
	32%{height:95px;background-color:#3a3a3a;border-radius:22px;border-top-left-radius:0px;border-top-right-radius:0px;margin-top:-201px;}
	64%{height:158px;background-color:green;border-radius:30px;margin-top:-260px;}
	100%{height:40px;background-color:red;border-radius:20px;border-top-left-radius:0px;border-top-right-radius:0px;margin-top:-147px;}
}

#brain-fill{
	height:158px;
	width:190px;
	border-radius:30px;
	background-color:green;
	overflow:hidden;
	margin-top:-262px;
	margin-left:65px;
	animation-name:brain-fill;
	animation-duration:12s;
	animation-iteration-count: infinite;
	animation-delay: 10s;
}

.col-md-4 img{
	position: relative; 
	z-index: 100;
	padding-top:30px;
}

.imgs{
	height:500px;
}

#field1{
	margin-left:350px;
	margin-top:-330px;
}

#field2{
	margin-top:-80px;
	margin-left:-370px;
}

#field3{
	margin-top:-88px;
	margin-left:95px;
}

#center{
	margin-top:40px;
	margin-left:10px;
}

#field4{
	margin-top:350px;
	margin-left:-45px;
}

#field5{
	margin-top:350px;
	margin-left:-217px;
}

#services{
	background-color:white;
}

.desc p{
	font-size:20px;
	margin-top:80px;
}

.desc ul{
	margin-top:40px;
}

.desc li{
	color:#00a483;
	size:10px;
	
}

.desc h5{
	color:#00a483;
	font-size:20px;
}

#process{
	background-color:green;
}

#process .content .pics img{
	margin-left:18px;
	margin-top:62px;
}

.content{
	margin-top:50px;
}

.content .pics{
	float:left;
	margin-left:59px;
	width:200px;
	height:400px;
	border:2px solid #c00000;
	border-radius:5px;
	background-color:#333333;
}

.content .pics img{
	margin-top:80px;
	position:center;
}

#process .process-details h3{
	color:white;
	text-align:center cen;
	padding-top:20px;
}

.process-details{
	height:100px;
	margin-top:75px;
	background-color:#DBDE14;
}

.process-details h3{
	display:block;
	text-align:center;
}

#features{
	background-color:white;
}

#features .content{
	border:1px solid #018f99;
}

.#features .content:hover{
	background-color:#990B01;
}

#features .eg-img{
	display:block;
	margin:auto;
}

#features .title-img{
	margin-top:-37px;
	margin-left:90px;
}

#features .title{
	text-align:center;
	margin-top:8px;
}

#features .read-more{
	height:40px;
	width:250px;
	margin:0 auto;
	text-align:center;
	border-bottom:1px solid red;
}

#features h4{
	padding-top:10px;
}

#features a{
	text-decoration:none;
	color:black;
}

#features a:hover{
	text-decoration:none;
	color:#018f99;
}

#features p{
	height:130px;
	text-align:center;
	margin-top:20px;
}

#partners{
	background-color:black;
}

.#partners .container{
	height:50px;
	width:2600px;
}

@keyframes contacts{
	0%{margin-left:-100px;}
	25%{margin-left:-970px;}
	50%{margin-left:0;}
	75%{margin-left:-1030px;}
	100%{margin-left:-100px;}
}

#partners ul{
	width:2600px;
	margin-top:40px;
	animation-name:contacts;
	animation-duration:60s;
	animation-iteration-count:infinite;
}

#partners li{
	float:left;
	margin-right:50px;
	list-style:none;
}

.quotes{
	position:relative;
	width:1000px;
	height:300px;
	margin-left:150px;
}

.quotes .circular-img{
	height:200px;
	width:200px;
	border:1px solid;
	border-radius:100px;
	margin:80px auto;
}

.quote{
	float:left;
	margin-right:40px;
	display:inline-block;
}

.value{
	margin:125px auto;
}

#contact{
	background-color:white;
}

#conatct .pics{
	margin-top:80px;
}

.copyrights{
	margin-top:60px;
}